@media screen and (max-width: 900px) {
  .container > main {
    grid-template-rows: 25vh 50vh 1fr;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    
    grid-template-areas:
      "phone email"
      "map map"
      "service-area service-area";
    
    > .contact-box > div, #noscript {
      font-size: 3vw;
      transform: translateY(-1em);
    }
  }
}

@media screen and (max-width: 540px) {
  .container > section.banner {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (max-width: 525px) {
  .container > main {
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) 2fr minmax(0, 1fr);
    grid-template-columns: 1fr;
    
    grid-template-areas:
      "phone"
      "email"
      "map"
      "service-area";
    
    > .contact-box {
      > div, #noscript {
        font-size: 5vw;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .container > main {
    grid-template-rows: 0.75fr 0.75fr 2fr 1fr;

    > .contact-box > div, #noscript {
      transform: translateY(-1.75em);
    }
  }
}

@media screen and (max-width: 375px) {
  .container > section.banner > div > h1 {
    font-size: 1em;
  }
}