@import url('./main.less');

.container {
  display: flex;
  flex-flow: column;
  height: 100%;

  > section.banner {
    .image-banner();
    height: 100%;

    >.overlay-container {
      > main {
        color: var(--err404-font-colour);
      }
    }
  }
}

@import url('./media-queries/mq-404.less');