@import url('./main.less');

nav {
  box-shadow: 0px 0px 15px -2px #000000;
  margin-bottom: 2em;
}

.container:extend(.container > main) {
  display: grid;
  grid-template-columns: 1fr 20vw;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-auto-columns: 1fr;
  gap: 0px 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "title title"
    "subtext photo"
    "desc photo"
    "gallery gallery";
}

h1.title {
  grid-area: title;
  font-size: 5em;
}

p.subtext {
  grid-area: subtext;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  margin-top: 0;
  color: var(--about-subtext-colour);
}

.photo {
  grid-area: photo;

  > img {
    .border();
    width: 100%;
    box-shadow: 0px 0px 5px -2px #000000;
  }
}

main {
  grid-area: desc;
  padding: 0 !important;
}

.gallery {
  grid-area: gallery;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  
  box-shadow: inset 0px 0px 5px -2px #000000;
  background-color: var(--contact-banner-bg-colour);
  .border();

  > h1:extend(.text-centre) {
    font-size: 2em;
    margin-top: 0.5em;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    align-content: center;
    gap: 1em;

    padding: 1em;
    
    > img {
      .border();
      height: 100%;
      object-fit: cover;
    }
  }
}

@import url('./media-queries/mq-about.less');