@import url('./main.less');

nav {
  box-shadow: 0px 0px 15px -2px #000000;
  z-index: 1;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;

  > section.banner {
    padding-top: max(10vh, 1em);
    padding-bottom: max(10vh, 1em);
    
    background-color: var(--contact-banner-bg-colour);
    color: var(--contact-banner-font-colour);
  }

  > main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
    grid-template-rows: 50vh 1fr;
    grid-auto-columns: minmax(0, 1fr);
    gap: 1em 1em;
    grid-auto-flow: column;
    grid-template-areas:
      "phone map email"
      "service-area service-area service-area";
    
    .phone { grid-area: phone; }
    .email { grid-area: email; }
    .map { grid-area: map; }
    .service-area:extend(.vertical-pad-1) {
      grid-area: service-area;

      box-shadow: inset 0px 0px 5px -2px #000000;
      
      background-color: var(--contact-banner-bg-colour);
      .border();

      font-size: x-large;

      > p {
        margin: 0;
        padding: 1em;
      }
    }

    height: 100%;

    padding: 1em;
  }

  .phone { grid-area: phone; }
  .email { grid-area: email; }
  .map { grid-area: map; }

  .contact-box {
    box-shadow: inset 0px 0px 5px -2px #000000;
    background-color: var(--contact-box-bg-colour);
    .border();

    > h1:extend(.text-centre) {
      font-size: 2em;
      margin-top: 0.5em;
    }

    > div:extend(.centre):extend(.middle) {
      height: 100%;
      transform: translateY(-2ex);
      font-size: 1.5vw;

      margin-left: 2em;
      margin-right: 2em;
    }
  }
}

#noscript:extend(.container .contact-box > div) {
  height: min-content;
  text-align: center;

  display: none;
}

#map {
  width: 100%;
  height: 70%;
  .border(var(--contact-banner-bg-colour));
}

@import url('./media-queries/mq-contact.less');