@import url('./main.less');

.container {
  display: flex;
    flex-flow: column;
    height: 100%;

  > section.banner {
    padding-top: max(10vh, 1em);
    padding-bottom: max(10vh, 1em);
  }

  > main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 3em 3em;
    grid-auto-flow: row;
    grid-template-areas:
      "phone email map";

    height: 100%;
    padding-bottom: 0;;
  }

  .phone { grid-area: phone; }
  .email { grid-area: email; }
  .map { grid-area: map; }

  .contact-box {
    background-color: var(--contact-box-bg-colour);
    border: 2px solid var(--contact-box-border-colour);

    > h1:extend(.text-centre) {
      font-size: 2em;
      margin-top: 0.5em;
    }

    > div:extend(.centre):extend(.middle) {
      height: 100%;
      transform: translateY(-1em);
    }
  }
}

@import url('./media-queries/mq-about.less');