@import url('./main.less');

nav {
  box-shadow: 0px 0px 15px -2px #000000;
  margin-bottom: 2em;
}

main {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  gap: 0px 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "academic-history career-history awards voluntary-work"
    "content content content content";

  > .academic-history { grid-area: academic-history; }
  > .career-history { grid-area: career-history; }
  > .awards { grid-area: awards; }
  > .voluntary-work { grid-area: voluntary-work; }
  
  > section.contents {
    display: none;

    .border();
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    background-color: var(--credentials-tab-bg-colour-selected);

    padding: 1em;
    
    font-size: 1.2em;

    > ul > li {
      margin-bottom: 1em;
    }
  }
  
  > input[type=radio] {
    display: none;

    + label:extend(.middle):extend(.text-centre) {
      display: block;

      width: 100%;
      height: 100%;

      padding: 10px;

      .border();
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;

      font-size: 1.5vw;
      font-weight: 600;

      background-color: var(--credentials-tab-bg-colour);
      color: var(--credentials-tab-text-colour);

      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }
    }
  
    &:checked {
      + label:extend(.centre) {
        background: var(--credentials-tab-bg-colour-selected);
        color: var(--credentials-tab-text-colour-selected);

        z-index: 1;

        height: calc(100% + 2px);
        
        filter: none;

        > span {
          display: block;
          transform: translateY(-1px);
        }

        + section.contents {
          display: block;
          grid-area: content;
        }
      }
    }
  }
}

@import url('./media-queries/mq-credentials.less');