@import url('./main.less');

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  gap: 0px 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "academic-history career-history voluntary-work awards";

  > .academic-history { grid-area: academic-history; }
  > .career-history { grid-area: career-history; }
  > .voluntary-work { grid-area: voluntary-work; }
  > .awards { grid-area: awards; }

  > div.tab {
    display: block;

    height: fit-content;

    > label:extend(.text-centre) {
      display: block;
      background-color: var(--credentials-tab-bg-colour);
      color: var(--credentials-tab-text-colour);

      width: 100%;
      height: 100%;

      cursor: pointer;
    }
  
    > section.contents {
      display: none;
    }
  
    > input[type=radio] {
      display: none;
  
      &:checked {
        + label {
          background: var(--credentials-tab-bg-colour-selected);
          color: var(--credentials-tab-text-colour-selected);
        }

        ~ section.contents {
          .border();
        }
      }
    }
  }
}

@import url('./media-queries/mq-credentials.less');