@import url('./main.less');

.tab-content {
  display: none;

  background: white;
  .border();
}

input[type=radio] {
  display: none;

  ~ label {
    background-color: var(--credentials-tab-bg-colour);
    
    .border();
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:checked ~ label ~ .tab-content {
    display: block;
  }
}

@import url('./media-queries/mq-credentials.less');