@import url('./main.less');

.line() {
  .border();
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  height: 5%;
}

.quote() {
  &:extend(.text-centre);
  flex-direction: row;
  quotes: "“" "”";

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "q text";
  
  &::before {
    display: inline-block;
    content: open-quote;
    font-family: Gulzar, Georgia, serif;
    font-size: 15rem;

    height: 100%;
    width: 100%;
    text-align: right;

    margin-top: auto;
    margin-bottom: auto;

    grid-area: q;
  }

  > p {
    font-size: 2rem;
    grid-area: text;
  }
}

footer {
  margin-top: 2em;
}

.container {
  > section.banner {
    background-image: 
      linear-gradient(
        rgba(0, 0, 50%, 25%),
        rgba(0, 0, 50%, 25%)
      ),
      url(/assets/img/home-bg.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0px 0px 15px -2px #000000;
  }

  > .mission:extend(.centre):extend(.text-centre) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20vh;
    gap: 0px 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "line1 text line2";

    font-size: 1.25em;

    h1 {
      grid-area: text;
    }

    .line1 {
      .line();
      grid-area: line1;
    }

    .line2 {
      .line();
      grid-area: line2;
    }
  }

  > section.quotes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content repeat(2, 1fr);
    gap: 4em 0;
    grid-auto-flow: row;
    grid-template-areas:
      "title title title title"
      "quote-1 quote-1 quote-2 quote-2"
      ". quote-3 quote-3 .";
    
    .border-only-top();
    .border-only-bottom();
    background-color: var(--quotes-bg-colour);

    padding-top: 2em;
    padding-bottom: 3.4em;

    h1:extend(.text-centre) {
      grid-area: title;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
    }
    
    blockquote {
      &.quote-1 {
        grid-area: quote-1;
        .quote();
      }

      &.quote-2 {
        grid-area: quote-2;
        .quote();
      }
      &.quote-3 {
        grid-area: quote-3;
        .quote();
      }
    }
  }


  .info-panels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "panel-1 panel-2 panel-3";
    
    > .info-panel:extend(.horizontal-pad-1):extend(.text-centre):extend(.centre) {
      flex-direction: column;

      margin-top: 3em;

      > h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: x-large;
      }

      > p {
        width: 100%;
      }

      &.panel-1 { grid-area: 'panel1'; }
      &.panel-2 { grid-area: 'panel-2'; }
      &.panel-3 { grid-area: 'panel-3'; }
    }
  }
}

@import url('./media-queries/mq-home.less');