@import url('./main.less');

.line() {
  .border();
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  height: 5%;
}

.container {
  > section.banner {
    background-image: 
      linear-gradient(
        rgba(0, 0, 50%, 25%),
        rgba(0, 0, 50%, 25%)
      ),
      url(/assets/img/home-bg.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0px 0px 15px -2px #000000;
  }

  > .mission:extend(.centre):extend(.text-centre) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20vh;
    gap: 0px 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "line1 text line2";

    font-size: 1.25em;

    h1 {
      grid-area: text;
    }

    .line1 {
      .line();
      grid-area: line1;
    }

    .line2 {
      .line();
      grid-area: line2;
    }
  }

  > .quote-container:extend(.centre) {
    .border();
    border-left: none;
    border-right: none;
    border-radius: 0;

    background-color: var(--contact-banner-bg-colour);
    
    > .quotes:extend(.centre):extend(.text-centre) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content repeat(2, min-content);
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "title title"
        "quote1 quote2"
        "quote3 quote3";
      
      width: fit-content;

      .title:extend(.vertical-pad-1) {
        grid-area: title;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        margin-bottom: 2em;
      }

      .quote1 { grid-area: quote1; }
      .quote2 { grid-area: quote2; }
      .quote3 {
        grid-area: quote3;
        margin-left: auto;
        margin-right: auto;
      }

      > blockquote {
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        font-style: italic;
        font-size: x-large;

        &:before {
          font-family: 'Gulzar', serif;
          content: '“';
          font-size: 10em;
          line-height: 0.1rem;
          margin-right: 0.25em;
          vertical-align: -0.55em;
        }

        > p {
          display: inline;
          line-height: 1rem;
        }
      }
    }
  }

  > .info-panel:extend(.horizontal-pad-1):extend(.text-centre):extend(.centre) {
    flex-direction: column;

    margin-top: 3em;

    > h1 {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: x-large;
    }

    > p {
      width: 25%;
    }
  }
}

.quote { transform: translateX(-6.5%); }

@import url('./media-queries/mq-home.less');