@import url('./themes.less');
@import url('./components/utils/alignment.less');
@import url('./components/setup.less');
@import url('./components/spacing.less');

// Navbar
nav {
  grid-area: nav;
  width: 100vw;
  
  color: var(--home-banner-font-colour);
  background-color: var(--nav-bg-colour);

  padding-left: 2em;
  padding-right: 2em;

  height: 15vh;

  // Grid layout
  display: grid;
  grid-template-columns: 25vmin 1fr min-content min-content min-content min-content min-content;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0.5em 0.5em;
  grid-auto-flow: row;
  grid-template-areas:
    "logo spacing home about credentials policies contact";
  
  > .logo:extend(.centre):extend(.middle) {
    grid-area: logo;
    padding: 0.5em;
  }

  // Set elements in their grid areas
  > .home { grid-area: home; }
  > .about { grid-area: about; }
  > .credentials { grid-area: credentials; }
  > .policies { grid-area: policies; }
  > .contact { grid-area: contact; }

  > .nav-item:extend(.centre) {
    > a {
      text-decoration: none;
      color: var(--nav-link-text-colour);
      font-size: larger;
      font-weight: bold;

      padding: 2em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      margin: 5px;

      border-radius: 10px;
    }

    &.selected > a {
      color: var(--nav-link-text-colour-selected);
      background-color: var(--nav-link-bg-colour-selected);

      opacity: 1.0;
      transition: opacity 0.3s;
    }

    &:not(.selected) > a:hover {
      background-color: var(--nav-link-bg-colour-selected);
      color: var(--nav-link-text-colour-selected);
      opacity: 0.7;
    }
  }
}

.container {
  grid-area: container;

  > main {
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 0 !important;
  }

  > section.banner:extend(.horizontal-pad-1) {
    background-color: var(--home-banner-bg-colour);
    color: var(--home-banner-font-colour);

    text-align: center;
    font-size: xx-large;
    
    padding: 20vh;

    max-height: 85vh;
  }
}

footer {
  .middle();
  .centre();

  position: relative;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

@import url('./media-queries/mq-main.less');