@colour-primary: #43498a;
@colour-secondary: white;
@colour-tertiary: #add19e;
@colour-quaternary: #F0F1F8;

:root {
  --border-colour: @colour-primary;

  --contact-banner-bg-colour: @colour-tertiary;
  --contact-banner-font-colour: black;
  --home-banner-font-colour: white;

  --home-mission-bg-colour: @colour-quaternary;

  --nav-link-text-colour: @colour-primary;
  --nav-link-text-colour-selected: @colour-secondary;
  --nav-link-bg-colour-selected: @colour-primary;
  --nav-bg-colour: @colour-secondary;

  --quotes-bg-colour: @colour-tertiary;
  --quotes-box-bg-colour: darken(@colour-tertiary, 2%);

  --policies-banner-bg-colour: @colour-tertiary;
  --policies-banner-font-colour: black;
  --policies-box-bg-colour: @colour-quaternary;

  --about-subtext-colour: #5d5f57;

  --contact-box-bg-colour: @colour-quaternary;

  --credentials-tab-text-colour: black;
  --credentials-tab-text-colour-selected: black;
  --credentials-tab-bg-colour-selected: @colour-quaternary;
  --credentials-tab-bg-colour: @colour-tertiary;

  --link-colour: #5e60ce;

  --map-circle-outline-colour: @colour-primary;
  --map-circle-fill-colour: #5e60ce;
}

.theme-home {
  --nav-link-text-colour: @colour-secondary;
  --nav-link-text-colour-selected: @colour-primary;
  --nav-link-bg-colour-selected: @colour-secondary;
  --nav-bg-colour: @colour-primary;
}