:root {
  --border-colour: #43498a;
  --contact-banner-bg-colour: #add19e;
  --contact-banner-font-colour: black;
  --home-banner-font-colour: white;
  --home-mission-bg-colour: #F0F1F8;
  --nav-link-text-colour: white;
  --nav-link-text-colour-selected: #43498a;
  --nav-link-bg-colour-selected: white;
  --nav-bg-colour: #43498a;
  --mobile-nav-btn-bg-colour: #add19e;
  --mobile-nav-btn-border-colour: #F0F1F8;
  --mobile-nav-btn-icon-colour: #43498a;
  --mobile-nav-menu-bg-colour-start: #43498a;
  --mobile-nav-menu-bg-colour-end: #add19e;
  --quotes-bg-colour: #add19e;
  --quotes-box-bg-colour: #a7ce97;
  --policies-banner-bg-colour: #add19e;
  --policies-banner-font-colour: black;
  --policies-box-bg-colour: #F0F1F8;
  --about-subtext-colour: #5d5f57;
  --contact-box-bg-colour: #F0F1F8;
  --credentials-tab-text-colour: black;
  --credentials-tab-text-colour-selected: black;
  --credentials-tab-bg-colour-selected: #F0F1F8;
  --credentials-tab-bg-colour: #add19e;
  --link-colour: #5e60ce;
  --map-circle-outline-colour: #43498a;
  --map-circle-fill-colour: #5e60ce;
  --menu-height: max(15vh, 60px);
  --mobile-menu-icon-height: calc(var(--menu-height) * 0.5);
}
.centre,
nav > .desktop-menu > .logo,
nav > .desktop-menu > .nav-item,
nav > .mobile-menu section > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.middle,
nav > .desktop-menu > .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.text-left {
  text-align: left;
}
.text-centre,
.gallery > h1 {
  text-align: center;
}
.text-right {
  text-align: right;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
a {
  color: var(--link-colour);
}
body {
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--menu-height) 1fr -webkit-min-content;
  grid-template-rows: var(--menu-height) 1fr min-content;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'nav' 'container' 'footer';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1:not(.rootfont),
h2:not(.rootfont),
h3:not(.rootfont),
h4:not(.rootfont),
h5:not(.rootfont),
h6:not(.rootfont) {
  font-family: 'Josefin Sans', sans-serif;
}
.vertical-pad-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.horizontal-pad-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}
.vertical-pad-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.horizontal-pad-1,
.container > section.banner {
  padding-left: 1em;
  padding-right: 1em;
}
nav {
  grid-area: nav;
  width: 100vw;
  height: var(--menu-height);
}
nav > .desktop-menu {
  color: var(--home-banner-font-colour);
  background-color: var(--nav-bg-colour);
  padding-left: 2em;
  padding-right: 2em;
  height: 100%;
  display: grid;
  grid-template-columns: 25vmin 1fr -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns: 25vmin 1fr min-content min-content min-content min-content min-content;
  grid-template-rows: var(--menu-height);
  grid-auto-columns: 1fr;
  gap: 0.5em 0.5em;
  grid-auto-flow: row;
  grid-template-areas: "logo spacing home about credentials policies contact";
}
nav > .desktop-menu > .logo {
  grid-area: logo;
  margin: 0.5em;
}
nav > .desktop-menu > .home {
  grid-area: home;
}
nav > .desktop-menu > .about {
  grid-area: about;
}
nav > .desktop-menu > .credentials {
  grid-area: credentials;
}
nav > .desktop-menu > .policies {
  grid-area: policies;
}
nav > .desktop-menu > .contact {
  grid-area: contact;
}
nav > .desktop-menu > .nav-item > a {
  text-decoration: none;
  color: var(--nav-link-text-colour);
  font-size: larger;
  font-weight: bold;
  padding: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 5px;
  border-radius: 10px;
}
nav > .desktop-menu > .nav-item.selected > a {
  color: var(--nav-link-text-colour-selected);
  background-color: var(--nav-link-bg-colour-selected);
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
nav > .desktop-menu > .nav-item:not(.selected) > a:hover {
  background-color: var(--nav-link-bg-colour-selected);
  color: var(--nav-link-text-colour-selected);
  opacity: 0.7;
}
nav > .mobile-menu {
  display: none;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 0;
}
nav > .mobile-menu > a {
  text-decoration: none;
}
nav > .mobile-menu > label,
nav > .mobile-menu > a {
  position: relative;
  left: calc(100vw - var(--mobile-menu-icon-height) - (var(--mobile-menu-icon-height) / 3.33333333));
  bottom: calc(var(--menu-height) * 0.8);
  z-index: 4;
}
nav > .mobile-menu > label > span,
nav > .mobile-menu > a > span.material-icons {
  font-size: var(--mobile-menu-icon-height);
  background-color: var(--mobile-nav-btn-bg-colour);
  border-radius: 3px;
  color: var(--mobile-nav-btn-icon-colour);
  text-shadow: 0px 0px 5px var(--mobile-nav-btn-icon-colour), 0px 0px 2px black;
  -webkit-box-shadow: 0px 0px 10px -2px #000000;
          box-shadow: 0px 0px 10px -2px #000000;
  z-index: 5;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
nav > .mobile-menu section {
  display: grid;
  position: absolute;
  top: 0;
  left: -100vw;
  opacity: 0%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  background-color: var(--mobile-nav-menu-bg-colour-start);
  background: -o-radial-gradient(93.5% 5.7%, circle, var(--mobile-nav-menu-bg-colour-end) 0%, var(--mobile-nav-menu-bg-colour-end) 5%, var(--mobile-nav-menu-bg-colour-start) 95%, var(--mobile-nav-menu-bg-colour-start) 100%);
  background: radial-gradient(circle at 93.5% 5.7%, var(--mobile-nav-menu-bg-colour-end) 0%, var(--mobile-nav-menu-bg-colour-end) 5%, var(--mobile-nav-menu-bg-colour-start) 95%, var(--mobile-nav-menu-bg-colour-start) 100%);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
nav > .mobile-menu section > div {
  width: 50%;
  margin: auto;
}
nav > .mobile-menu section > div > a {
  text-decoration: none;
  color: var(--nav-link-text-colour);
  font-size: larger;
  font-weight: bold;
  padding: 2em;
  margin: 5px;
  border-radius: 10px;
}
nav > .mobile-menu section > div > a.selected {
  color: var(--nav-link-text-colour-selected);
  background-color: var(--nav-link-bg-colour-selected);
  opacity: 1;
}
nav > .mobile-menu > input {
  display: none;
}
nav > .mobile-menu > input:checked ~ section {
  opacity: 100%;
  left: 0;
  z-index: 3;
}
nav > .mobile-menu > input:checked ~ label > span {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.container {
  grid-area: container;
  width: 100%;
}
.container > main {
  padding: 5em;
  padding-top: 1em;
  padding-bottom: 0 !important;
}
.container > section.banner {
  background-color: var(--home-banner-bg-colour);
  color: var(--home-banner-font-colour);
  text-align: center;
  font-size: xx-large;
  padding: 20vh;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  width: 100%;
}
footer {
  grid-area: footer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 5vh;
  margin: auto;
}
footer > span {
  display: inline-block;
  position: relative;
  top: 1.5ex;
}
@media screen and (max-width: 1240px) {
  nav > .desktop-menu > .nav-item > a {
    font-size: medium;
  }
}
@media screen and (max-width: 1080px) {
  nav > .desktop-menu > .nav-item > a {
    padding: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media screen and (max-width: 940px) {
  :root {
    --menu-height: max(12vh, 60px);
  }
  nav > .desktop-menu {
    grid-template-columns: 1fr -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-columns: 1fr min-content min-content min-content min-content min-content;
    grid-template-areas: "logo home about credentials policies contact";
  }
  nav > .desktop-menu > .logo {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  nav > .desktop-menu > .logo > img {
    width: unset;
    height: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media screen and (max-width: 880px) {
  nav > .desktop-menu > .logo {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  nav > .desktop-menu > .logo > img {
    width: unset;
    height: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  nav > .desktop-menu > .nav-item > a {
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media screen and (max-width: 750px) {
  .container > section.banner {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media screen and (max-width: 780px) {
  nav > .desktop-menu {
    gap: 0;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 715px) {
  nav > .desktop-menu > .nav-item {
    display: none;
  }
  nav > .mobile-menu {
    display: block;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
}
@media screen and (max-width: 400px) {
  .container > section.banner {
    font-size: x-large;
  }
  .container > section.mission {
    font-size: 1em;
  }
}
@media screen and (max-width: 460px) {
  .container > section.banner {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (max-width: 395px) {
  footer {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  footer > span {
    display: block;
    text-align: center;
    top: 0;
  }
}
@media screen and (max-width: 375px) {
  nav > .mobile-menu > section {
    padding-top: var(--mobile-menu-icon-height);
  }
  nav > .mobile-menu > section > div {
    width: 75%;
  }
}
nav {
  -webkit-box-shadow: 0px 0px 15px -2px #000000;
          box-shadow: 0px 0px 15px -2px #000000;
  margin-bottom: 2em;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-auto-columns: 1fr;
  gap: 0px 2em;
  grid-auto-flow: row;
  grid-template-areas: "title" "subtext" "desc" "gallery";
  padding: 5em;
  padding-top: 1em !important;
  padding-bottom: 0 !important;
}
h1.title {
  grid-area: title;
  font-size: 5em;
}
p.subtext {
  grid-area: subtext;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  margin: 0;
  color: var(--about-subtext-colour);
}
main {
  grid-area: desc;
  padding: 0 !important;
}
main > .photo > img {
  border-radius: 3px;
  border: 2px solid var(--border-colour);
  width: 20vw;
  -webkit-box-shadow: 0px 0px 5px -2px #000000;
          box-shadow: 0px 0px 5px -2px #000000;
  float: right;
  margin: 15px;
  margin-right: 0;
  margin-top: 2ex;
}
.gallery {
  grid-area: gallery;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  -webkit-box-shadow: inset 0px 0px 5px -2px #000000;
          box-shadow: inset 0px 0px 5px -2px #000000;
  background-color: var(--contact-banner-bg-colour);
  border-radius: 3px;
  border: 2px solid var(--border-colour);
}
.gallery > h1 {
  font-size: 2em;
  margin-top: 0.5em;
}
.gallery > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1em;
  padding: 1em;
}
.gallery > div > img {
  border-radius: 3px;
  border: 2px solid var(--border-colour);
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .container > .gallery > div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container > main > .photo > img {
    width: 25vw;
  }
}
@media screen and (max-width: 760px) {
  .container {
    padding: 2em;
  }
  .container > .title {
    font-size: 4.5em;
  }
  .container > .subtext {
    font-size: 1.5em;
  }
  .container > main > .photo > img {
    width: 30vw;
  }
}
@media screen and (max-width: 675px) {
  .container > .title {
    font-size: 10vw;
    text-align: center;
  }
  .container > .subtext {
    font-size: 4.5vw;
    text-align: center;
  }
  .container > main > .photo > img {
    width: 35vw;
  }
}
@media screen and (max-width: 600px) {
  .container > .gallery > div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .container > main > .photo > img {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
@media screen and (max-width: 375px) {
  .container > .title {
    font-size: 15vw;
    text-align: center;
  }
  .container > .subtext {
    font-size: 7vw;
    text-align: center;
    margin-bottom: 0.5em;
  }
}
/*# sourceMappingURL=about.css.map */