:root {
  --border-colour: #43498a;
  --contact-banner-bg-colour: #add19e;
  --contact-banner-font-colour: black;
  --home-banner-font-colour: white;
  --nav-link-text-colour: #43498a;
  --nav-link-text-colour-selected: white;
  --nav-link-bg-colour-selected: #43498a;
  --nav-bg-colour: white;
  --quotes-bg-colour: #add19e;
  --quotes-box-bg-colour: #a7ce97;
  --policies-banner-bg-colour: #add19e;
  --policies-banner-font-colour: black;
  --policies-box-bg-colour: #F0F1F8;
  --about-subtext-colour: #5d5f57;
  --contact-box-bg-colour: #F0F1F8;
  --credentials-tab-text-colour: black;
  --credentials-tab-text-colour-selected: black;
  --credentials-tab-bg-colour-selected: #F0F1F8;
  --credentials-tab-bg-colour: #add19e;
  --link-colour: #5e60ce;
  --map-circle-outline-colour: #43498a;
  --map-circle-fill-colour: #5e60ce;
}
.theme-home {
  --nav-link-text-colour: white;
  --nav-link-text-colour-selected: #43498a;
  --nav-link-bg-colour-selected: white;
  --nav-bg-colour: #43498a;
}
.centre,
nav > .logo,
nav > .nav-item,
.container > .mission,
.container .info-panels > .info-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle,
nav > .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.left {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.right {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.text-left {
  text-align: left;
}
.text-centre,
.container > .mission,
.container > section.quotes h1,
.container > section.quotes blockquote.quote-1 > p,
.container > section.quotes blockquote.quote-2 > p,
.container > section.quotes blockquote.quote-3 > p,
.container .info-panels > .info-panel {
  text-align: center;
}
.text-right {
  text-align: right;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
a {
  color: var(--link-colour);
}
body {
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'nav' 'container' 'footer';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1:not(.rootfont),
h2:not(.rootfont),
h3:not(.rootfont),
h4:not(.rootfont),
h5:not(.rootfont),
h6:not(.rootfont) {
  font-family: 'Josefin Sans', sans-serif;
}
.vertical-pad-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.horizontal-pad-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}
.vertical-pad-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.horizontal-pad-1,
.container > section.banner {
  padding-left: 1em;
  padding-right: 1em;
}
nav {
  grid-area: nav;
  width: 100vw;
  color: var(--home-banner-font-colour);
  padding-left: 2em;
  padding-right: 2em;
  height: 15vh;
  display: grid;
  grid-template-columns: 25vmin 1fr min-content min-content min-content min-content min-content;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0.5em 0.5em;
  grid-auto-flow: row;
  grid-template-areas: "logo spacing home about credentials policies contact";
}
nav > .logo {
  grid-area: logo;
  padding: 0.5em;
}
nav > .home {
  grid-area: home;
}
nav > .about {
  grid-area: about;
}
nav > .credentials {
  grid-area: credentials;
}
nav > .policies {
  grid-area: policies;
}
nav > .contact {
  grid-area: contact;
}
nav > .nav-item > a {
  text-decoration: none;
  color: var(--nav-link-text-colour);
  font-size: larger;
  font-weight: bold;
  padding: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 5px;
  border-radius: 10px;
}
nav > .nav-item.selected > a {
  color: var(--nav-link-text-colour-selected);
  background-color: var(--nav-link-bg-colour-selected);
  opacity: 1;
  transition: opacity 0.3s;
}
nav > .nav-item:not(.selected) > a:hover {
  background-color: var(--nav-link-bg-colour-selected);
  color: var(--nav-link-text-colour-selected);
  opacity: 0.7;
}
.theme-home nav {
  background-color: var(--nav-bg-colour);
}
.container {
  grid-area: container;
}
.container > main {
  padding: 5em;
  padding-top: 1em;
  padding-bottom: 0 !important;
}
.container > section.banner {
  background-color: var(--home-banner-bg-colour);
  color: var(--home-banner-font-colour);
  text-align: center;
  font-size: xx-large;
  padding: 20vh;
  max-height: 85vh;
}
footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5vh;
}
footer {
  margin-top: 2em;
}
.container > section.banner {
  background-image: linear-gradient(rgba(0, 0, 128, 0.25), rgba(0, 0, 128, 0.25)), url(/assets/img/home-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 15px -2px #000000;
}
.container > .mission {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20vh;
  gap: 0px 2em;
  grid-auto-flow: row;
  grid-template-areas: "line1 text line2";
  font-size: 1.25em;
}
.container > .mission h1 {
  grid-area: text;
}
.container > .mission .line1 {
  border-radius: 3px;
  border: 2px solid var(--border-colour);
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  height: 5%;
  grid-area: line1;
}
.container > .mission .line2 {
  border-radius: 3px;
  border: 2px solid var(--border-colour);
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  height: 5%;
  grid-area: line2;
}
.container > section.quotes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content repeat(2, 1fr);
  gap: 1.5em;
  grid-auto-flow: row;
  grid-template-areas: "title title title title" "quote1 quote1 quote2 quote2" ". quote3 quote3 .";
  border-top: 2px solid var(--border-colour);
  border-bottom: 2px solid var(--border-colour);
  background-color: var(--quotes-bg-colour);
  padding: 1em;
}
.container > section.quotes h1 {
  grid-area: title;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: xx-large;
}
.container > section.quotes blockquote.quote-1 {
  grid-area: quote1;
  border-radius: 3px;
  padding: 2em 1em;
  background-color: var(--quotes-box-bg-colour);
  position: relative;
  box-shadow: inset 0px 0px 5px -2px #000000;
}
.container > section.quotes blockquote.quote-1::before {
  font-family: 'Gulzar', 'Georgia', serif;
  content: "“";
  font-size: 8vw;
  position: absolute;
  top: -1.2ex;
  left: 20px;
}
.container > section.quotes blockquote.quote-1 > p {
  font-size: 1.5vw;
}
.container > section.quotes blockquote.quote-2 {
  grid-area: quote2;
  border-radius: 3px;
  padding: 2em 1em;
  background-color: var(--quotes-box-bg-colour);
  position: relative;
  box-shadow: inset 0px 0px 5px -2px #000000;
}
.container > section.quotes blockquote.quote-2::before {
  font-family: 'Gulzar', 'Georgia', serif;
  content: "“";
  font-size: 8vw;
  position: absolute;
  top: -1.2ex;
  left: 20px;
}
.container > section.quotes blockquote.quote-2 > p {
  font-size: 1.5vw;
}
.container > section.quotes blockquote.quote-3 {
  grid-area: quote3;
  border-radius: 3px;
  padding: 2em 1em;
  background-color: var(--quotes-box-bg-colour);
  position: relative;
  box-shadow: inset 0px 0px 5px -2px #000000;
}
.container > section.quotes blockquote.quote-3::before {
  font-family: 'Gulzar', 'Georgia', serif;
  content: "“";
  font-size: 8vw;
  position: absolute;
  top: -1.2ex;
  left: 20px;
}
.container > section.quotes blockquote.quote-3 > p {
  font-size: 1.5vw;
}
.container .info-panels {
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas: "panel1 panel2 panel3";
}
.container .info-panels > .info-panel {
  flex-direction: column;
  padding: 1em;
  width: 100%;
  height: 100%;
}
.container .info-panels > .info-panel > h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: xx-large;
}
.container .info-panels > .info-panel > p {
  width: 50%;
  font-size: large;
}
.container .info-panels > .info-panel.panel-1 {
  grid-area: panel1;
}
.container .info-panels > .info-panel.panel-2 {
  grid-area: panel2;
}
.container .info-panels > .info-panel.panel-3 {
  grid-area: panel3;
}
.container .info-panels > .info-panel > img {
  border-radius: 3px;
  border: 2px solid var(--border-colour);
  width: 100%;
  box-shadow: 0px 0px 5px -2px #000000;
}
/*# sourceMappingURL=home.css.map */