:root {
  --border-colour: #43498a;
  --contact-banner-bg-colour: #add19e;
  --contact-banner-font-colour: black;
  --home-banner-font-colour: white;
  --home-mission-bg-colour: #F0F1F8;
  --nav-link-text-colour: white;
  --nav-link-text-colour-selected: #43498a;
  --nav-link-bg-colour-selected: white;
  --nav-bg-colour: #43498a;
  --mobile-nav-btn-bg-colour: #add19e;
  --mobile-nav-btn-border-colour: #F0F1F8;
  --mobile-nav-btn-icon-colour: #43498a;
  --mobile-nav-menu-bg-colour-start: #43498a;
  --mobile-nav-menu-bg-colour-end: #add19e;
  --quotes-bg-colour: #add19e;
  --quotes-box-bg-colour: #a7ce97;
  --policies-banner-bg-colour: #add19e;
  --policies-banner-font-colour: black;
  --policies-box-bg-colour: #F0F1F8;
  --about-subtext-colour: #5d5f57;
  --contact-box-bg-colour: #F0F1F8;
  --credentials-tab-text-colour: black;
  --credentials-tab-text-colour-selected: black;
  --credentials-tab-bg-colour-selected: #F0F1F8;
  --credentials-tab-bg-colour: #add19e;
  --link-colour: #5e60ce;
  --map-circle-outline-colour: #43498a;
  --map-circle-fill-colour: #5e60ce;
  --menu-height: max(15vh, 60px);
  --mobile-menu-icon-height: calc(var(--menu-height) * 0.5);
  --err404-font-colour: white;
  --body-background: white;
}
.centre,
nav > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.text-left {
  text-align: left;
}
.text-centre {
  text-align: center;
}
.text-right {
  text-align: right;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--body-background);
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
a {
  color: var(--link-colour);
}
body {
  font-family: 'Noto Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--menu-height) 1fr -webkit-min-content;
  grid-template-rows: var(--menu-height) 1fr min-content;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'nav' 'container' 'footer';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1:not(.rootfont),
h2:not(.rootfont),
h3:not(.rootfont),
h4:not(.rootfont),
h5:not(.rootfont),
h6:not(.rootfont) {
  font-family: 'Josefin Sans', sans-serif;
}
nav {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mobile-nav-menu-bg-colour-start);
  background: -o-radial-gradient(93.5% 5.7%, circle, var(--mobile-nav-menu-bg-colour-end) 0%, var(--mobile-nav-menu-bg-colour-end) 5%, var(--mobile-nav-menu-bg-colour-start) 95%, var(--mobile-nav-menu-bg-colour-start) 100%);
  background: radial-gradient(circle at 93.5% 5.7%, var(--mobile-nav-menu-bg-colour-end) 0%, var(--mobile-nav-menu-bg-colour-end) 5%, var(--mobile-nav-menu-bg-colour-start) 95%, var(--mobile-nav-menu-bg-colour-start) 100%);
}
nav > div {
  width: 50%;
  margin: auto;
}
nav > div > a {
  text-decoration: none;
  color: var(--nav-link-text-colour-selected);
  background-color: var(--nav-link-bg-colour-selected);
  font-size: larger;
  font-weight: bold;
  padding: 2em;
  margin: 5px;
  border-radius: 10px;
  opacity: 0.7;
}
/*# sourceMappingURL=mobile-menu.css.map */